---
---
<link rel="stylesheet" href="/assets/css/addon.css">
<section class="bg-light" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-5 my-auto">
        {% include images/laptop.svg %}
      </div>
      <div class="col-md-7">
        <h1 class="display-4">Operating System for you</h1>
        <p class="lead">Select the distribution that best suits your needs and let yourself enjoy computing once again</p>
        <a href="https://get.opensuse.org/desktop" class="btn btn-light"><span class="d-flex align-items-center">{% include icons/desktop.svg %}<span class="ml-1">Get for Desktop</span></span></a>
        <a href="https://get.opensuse.org/server" class="btn btn-light"><span class="d-flex align-items-center">{% include icons/server.svg %}<span class="ml-1">Get for Server</span></span></a>
      </div>
    </div>
  </div>
</section>

{%- for banner in site.banners %}
  {%- if banner.startDate <= site.time and banner.endDate >= site.time %}
    <section class="{{ banner.style }}">
      <div class="container">
        {{ banner.content }}
      </div>
    </section>
  {%- endif %}
{%- endfor %}

<section class="py-3" id="technologies">
  <div class="container">
    <h1 class="display-4 text-md-left text-center">Our Technologies</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="nav flex-md-column flex-row nav-pills pb-3 justify-content-center" id="technology-tab" role="tablist" aria-orientation="vertical">
          {%- for tech in locale.technologies %}
            {%- assign icon = tech[0] %}
            {%- assign technology = tech[1] %}
              <a class="nav-link d-flex align-items-center{% if forloop.first == true %} active{% endif %}" id="technology-{{ icon }}-tab" data-toggle="pill" href="#technology-{{ icon }}" role="tab" aria-controls="technology-{{ icon }}" aria-selected="{{ forloop.first }}">{% include icons/{{ icon }}.svg %}<span class="d-none d-md-inline ml-1">{{ technology.name }}</span></a>
          {%- endfor %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content" id="technology-tabContent">
          {%- for tech in locale.technologies %}
            {%- assign icon = tech[0] %}
            {%- assign technology = tech[1] %}
            <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="technology-{{ icon }}" role="tabpanel" aria-labelledby="technology-{{ icon }}-tab">
              <h3>{{ technology.name }}</h3>
              <p>{{ technology.description | markdownify }}</p>
              {%- for hash in technology.software %}
                {%- assign softicon = hash[0] %}
                {%- assign software = hash[1] %}
                <a class="btn btn-light" href="{{ software.url }}"><span class="d-flex align-items-center">{% include icons/{{ softicon }}.svg %}<span class="d-none d-md-inline ml-1">{{ software.name }}</span></span></a>
              {%- endfor %}
            </div>
          {%- endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3 bg-light" id="news">
  <div class="container">
    <h1 class="display-4 text-center">News</h1>
    <div class="row">
    {% for post in site.rss limit: 3 %}
      {% include single-post.html style="col-lg-4 col-md-6 col-12" %}
    {% endfor %}
    <div class="col m-auto d-flex">
      <a href="https://news.opensuse.org" class="btn btn-primary m-auto">More news...</a>
    </div>
    </div>
  </div>
</section>

<section class="py-3" id="community">
  <div class="container">
    <h1 class="display-4 text-center">Community</h1>
    <p class="lead">The openSUSE Project since 2005 is a worldwide community of people dedicated to making open source software, documentation and artwork as well as advocating for open source. If this is your first introduction to what we do, go ahead and check out what we have in store.</p>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <h3>Events</h3>
        <p>Every couple of months some members of the community meet up for various convents, meetups and booths. We even have a yearly conference! We love being able to talk, share and discuss openSUSE eye to eye, and we can guarantee that you will love it too.</p>
        <a class="btn btn-primary" href="https://events.opensuse.org">Check them out!</a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <h3>Contribute</h3>
        <p>Not just software, but documentation, translation, artwork, advocacy and other teams need your help. If you have a particular set of skills, we guarantee you will find something to do.</p>
        <a class="btn btn-primary" href="https://contribute.opensuse.org">What can I do?</a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <h3>Shop</h3>
        <p>Don't want to contribute to the community directly? You can help us out by buying and wearing our merch. Show your love for the project by being a living advertisement, with a product you had to pay for.</p>
        <a class="btn btn-primary" href="https://shop.opensuse.org">See what's up</a>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-6 mb-3">
        <h3>Explore</h3>
        <p>This is only the frontpage, the community made and continues to make software, documentation and artwork for you to enjoy and use. We are also on various social media, so go ahead and follow us on it. You can find links to all of this and more in the megamenu.</p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#megamenu" aria-expanded="false">Toggle megamenu</button>
      </div>
    </div>
  </div>
</section>
