---
---
<link rel="stylesheet" href="/assets/css/addon.css">
<section class="bg-light" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-5 my-auto">
        {% include images/laptop.svg %}
      </div>
      <div class="col-md-7">
        <h1 class="display-4 font-weight-bold">{{ locale.main_h1 }}</h1>
        <p class="lead">{{ locale.main_lead }}</p>
        <a href="https://get.opensuse.org/desktop" class="btn btn-light"><span class="d-flex align-items-center">{% include icons/desktop.svg %}<span class="ml-1">{{ locale.main_desktop }}</span></span></a>
        <a href="https://get.opensuse.org/server" class="btn btn-light"><span class="d-flex align-items-center">{% include icons/server.svg %}<span class="ml-1">{{ locale.main_server }}</span></span></a>
      </div>
    </div>
  </div>
</section>

{%- for banner in site.banners %}
  {%- if banner.startDate <= site.time and banner.endDate >= site.time %}
    <section class="{{ banner.style }}">
      <div class="container">
        {{ banner.content }}
      </div>
    </section>
  {%- endif %}
{%- endfor %}

<section class="py-3" id="news">
  <div class="container">
    
    {% for post in site.rss limit: 1 %}
      <div class="row mb-4">
      
      <div class="col-md-8">
      <h1 class="display-4 font-weight-bold">In the News</h1>
      <h2>{{ post.title }}</h2>
      {{ post.description }} <a href="{{ post.link }}">read more</a>
      </div>
      <img class="col-md-4" src="{{ post.image }}"/>
      </div>
    {% endfor %}
    <div class="mb-3">
      <a href="https://news.opensuse.org" class="btn btn-primary">More News</a>
    </div>
  </div>
</section>

<section class="py-3 bg-light" id="meetings">
  <div class="container">
    <h1 class="display-4 text-center font-weight-bold">Meetings</h1>
    <p class="lead">Various teams within the openSUSE Project meet together in order to plan and collaborate on the future of the project and technologies within its products. Those meetings are all open to the public, here's a few upcoming ones, we hope to see you there!</p>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card card-body bg-info text-black">
          <h4 class="mb-1">Board Meeting</h4>
          <p class="text-black mb-1">9. December 05:00-06:00</p>
          <p class="text-black mb-1">The board meets biweekly to discuss various subject pertaining to the openSUSE Project</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card card-body bg-primary text-white">
          <h4 class="mb-1">Heroes Meeting</h4>
          <p class="text-white mb-1">11. December 08:00-09:00</p>
          <p class="text-white mb-1">The openSUSE Heroes meet to discuss the openSUSE Infrastructure maintenance</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card card-body bg-success text-black">
          <h4 class="mb-1">Release Engineering Meeting</h4>
          <p class="text-black mb-1">13. December 08:00-09:00</p>
          <p class="text-black mb-1">Release engineers discus releases and maintenance of the distributions</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <a class="btn btn-primary" href="https://calendar.opensuse.org">Calendar</a>
    </div>
  </div>
</section>

<section class="py-3" id="community">
  <div class="container">
    <h1 class="display-4 text-center font-weight-bold">Community</h1>
    <p class="lead">The openSUSE Project since 2005 is a worldwide community of people dedicated to making open source software, documentation and artwork as well as advocating for open source. If this is your first introduction to what we do, go ahead and check out what we have in store.</p>
    <div class="d-flex justify-content-center mb-3">
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <h3 class="font-weight-bold">Events</h3>
        <p>Every couple of months some members of the community meet up for various convents, meetups and booths. We even have a yearly conference! We love being able to talk, share and discuss openSUSE eye to eye, and we can guarantee that you will love it too.</p>
        <a class="btn btn-primary" href="https://events.opensuse.org">Check them out!</a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <h3 class="font-weight-bold">Contribute</h3>
        <p>Not just software, but documentation, translation, artwork, advocacy and other teams need your help. If you have a particular set of skills, we guarantee you will find something to do.</p>
        <a class="btn btn-primary" href="https://contribute.opensuse.org">What can I do?</a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <h3 class="font-weight-bold">Shop</h3>
        <p>Don't want to contribute to the community directly? You can help us out by buying and wearing our merch. Show your love for the project by being a living advertisement, with a product you had to pay for.</p>
        <a class="btn btn-primary" href="https://shop.opensuse.org">See what's up</a>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-6 mb-3">
        <h3 class="font-weight-bold">Explore</h3>
        <p>This is only the frontpage, the community made and continues to make software, documentation and artwork for you to enjoy and use. We are also on various social media, so go ahead and follow us on it. You can find links to all of this and more in the megamenu.</p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#megamenu" aria-expanded="false">Toggle megamenu</button>
      </div>
    </div>
  </div>
</section>
