.leap {
  background-image: url('/assets/images/leap-bg.svg');
  background-repeat: no-repeat;
  background-color: #73ba25;
  background-position: 50%;
  background-size: cover;
}

section#main { padding: 7rem 0; }

@media (max-width: 1200px) {
  .leap-logo { width: 72px; height: 72px; }
  section#main { padding: 6rem 0; }
}
@media (max-width: 992px) {
  .leap-logo { width: 64px; height: 64px; }
  section#main { padding: 5rem 0; }
}
@media (max-width: 768px) {
  .leap-logo { width: 48px; height: 48px; }
  section#main { padding: 4rem 0; }
}
@media (max-width: 576px) {
  .leap-logo { width: 32px; height: 32px; }
  section#main { padding: 3rem 0; }
}

.text-black {
  color: black!important;
}

.text-black:hover {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .jumbotron {
    background-color: #343a40;
  }
}

.kde {
  animation: fade 30s linear infinite;
  opacity: 1;
}

.gnome {
  animation: fade 30s 10s linear infinite;
  opacity: 0.01;
}

.term {
  animation: fade 30s 20s linear infinite;
  opacity: 0.01;
}

@keyframes fade {
    0% { opacity: 0.01; }
    2% { opacity: 1; }
    32% { opacity: 1; }
    34% { opacity: 0.01; }
    100% { opacity: 0.01; }
}


@media (prefers-color-scheme: dark) {
  .border-bottom {
    border-color: black !important;
  }
  .bg-light {
    background-color: #272b30 !important; 
  }
}

section {
  scroll-margin-top: 3.625rem;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

#meetings .card a {
  text-decoration: underline 1px solid;
  color: inherit;
}

#meetings .card a.title {
  text-decoration: none;
}

#meetings .card a.title h3::first-line {
  text-decoration: underline 2px wavy yellow;
  text-decoration-skip-ink: none;
  line-height: 1.9rem
}

#meetings .card a.title:hover h3::first-line {
  text-decoration-style: solid;
}

#meetings .card a.title h3 {
  font-size: 4rem;
  line-height: 1.5rem;
}

#meetings .card a.title h3 span {
  font-size: 2rem;
}
